#login-wrapper
  section#login
    header
      h1 Kahnoodle
    #third-party-login
      p
        a(href="#").button Sign in with Facebook
    #kahnoodle-login
      p
        h2 Or, sign in with Kahnoodle
      p
        input(type="email", autocapitalize="off", autocomplete="on", autocorrect="off", name="account[email]", placeholder="Email")
      p
        input(type="password", autocapitalize="off", autocomplete="on", autocorrect="off", name="account[password]", placeholder="Password")
      p
        a(href="#").button Sign in
      p 
        a(href="#") Sign up now ►
  footer
    a(href="#") What is Kahnoodle?
  